<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% if title %}{{title}} :: {% endif %}
            {{site_name}}
        </title>

        <link href="{{asset('css/foundation.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('css/jquery-ui.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('css/jquery.tagit.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/app.css')}}" rel="stylesheet" type="text/css" />

        <script src="{{asset('js/modernizr.js')}}"></script>
        <script>var baseUrl="{{url('/')}}";</script>

    </head>
    <body>
        <header>
            <nav class="top-bar" data-topbar data-options="is_hover:false">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="{{url('/')}}" title="Go to dashboard">{{site_name}}</a></h1>
                    </li>
                </ul>

                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">

                        {% if user %}
                        <li class="has-dropdown">
                            <a>You are logged in as {{user.name}}</a>
                            <ul class="dropdown">
                                <li><a href="{{url('users/'~user.username)}}">Profile</a></li>
                                <li><a href="{{url('logout')}}">Log out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{url('login')}}">Log in</a></li>
                        {% endif %}

                    </ul>

                    <!-- Left Nav Section -->
                    <ul class="left">
                        <li class="has-dropdown">
                            <a>Assets</a>
                            <ul class="dropdown">
                                <li><a href="{{url('assets')}}">Index</a></li>
                                <li><a href="{{url('assets/map')}}">Map</a></li>
                                <li><a href="{{url('assets/create')}}">Create</a></li>
                                <li><a href="{{url('assets/import')}}">Import</a></li>
                                <li><a href="{{url('contacts')}}">Contacts</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a>Jobs</a>
                            <ul class="dropdown">
                                <li><a href="{{url('job-lists')}}">Job Lists</a></li>
                            </ul>
                        </li>
                        {% if user.isAdmin() %}
                        <li class="has-dropdown">
                            <a>Admin</a>
                            <ul class="dropdown">
                                <li><a href="{{url('users')}}">Users</a></li>
                                <li><a href="{{url('people')}}">People</a></li>
                                <li><a href="{{url('crews')}}">Crews</a></li>
                                <li><a href="{{url('categories')}}">Categories</a></li>
                                <li><a href="{{url('job-types')}}">Job Types</a></li>
                            </ul>
                        </li>
                        {% endif  %}
                    </ul>
                </section>
            </nav>
        </header>

        <div id="content">

            {% if alerts %}
                <div class="hidden-print">
                    {% for alert in alerts %}
                        <div data-alert class="alert-box {{alert.status}}">
                            {{alert.message|raw}}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if breadcrumbs %}
            <ul class="breadcrumbs">
                <li><a href="{{url('/')}}">Home</a></li>
                {% for url,title in breadcrumbs %}
                <li class="{% if loop.last %}current{% endif %}">
                    <a href="{{url(url)}}">{{title}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <h1>
                {{title}}
                {% if subtitle %}<small>{{subtitle}}</small>{% endif %}
            </h1>

            {% block content %}{% endblock %}

        </div>

        <footer class="top-bar">
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li>
                        <a href="#" data-options="align:top" data-dropdown="software-links">{{app_title}} {{app_version}}</a>
                    </li>
                </ul>
                <!-- Left Nav Section -->
                <ul class="left">
                </ul>
            </section>
        </footer>
        <ul id="software-links" class="f-dropdown" data-dropdown-content>
            <li>
                <a href="https://github.com/samwilson/asset-manager" target="_blank" title="Got to the AssetManager website (opens in a new tab)">
                    Website
                </a>
            </li>
            <li>
                <a href="https://github.com/samwilson/asset-manager/issues" target="_blank" title="Report a new issue (opens in a new tab)">
                    Issue Tracker
                </a>
            </li>
        </ul>

        {% for script in scripts %}
            <script type="text/javascript" src="{{asset('js/'~script)}}"></script>
        {% endfor %}
        <script>$(document).foundation();</script>
    </body>
</html>
