{% extends "base" %}

{% block content %}
<form action="{{url('tags')}}" method="post">
    {{csrf_field()}}

    <ol class="row">
        {% for tag in tags %}
            <li class="col-md-3">
                <input type="checkbox" name="tags[]" value="{{tag.id}}" id="tag-{{tag.id}}" />
                <label for="tag-{{tag.id}}">{{tag.name}}</label>
            </li>
        {% endfor %}
    </ol>

    <p>
        With selected:
        <input type="submit" name="rename" value="Rename" class="btn btn-default" />
        <input type="submit" name="merge" value="Merge" class="btn btn-default" />
        <input type="submit" name="delete" value="Delete" class="btn btn-default" />
    </p>

</form>
{% endblock %}
