{% extends "base" %}
{% block content %}

    <form action="{{url('users')}}" method="get">
        <p>
            <label class="inline">
                New user:
                <input type="text" name="username" placeholder="Enter username here" />
            </label>
        </p>
    </form>

    {{users.render()|raw}}
    <table class="calendar">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                {% for role in roles %}
                <th>{{role.name}}</th>
                {% endfor %}
                {% for day in dates %}
                <th class="{{day.format('D j')}}">{{day.format('D j')}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{url('users/'~user.username)}}">{{user.username}}</a></td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    {% for role in roles %}
                    <td>{% if user.hasRole(role.id) %}<span class="ui-icon ui-icon-check"></span>{% endif %}</td>
                    {% endfor %}
                    {% for day in dates %}
                    <td class="{% if not user.availableOn(day) %}lowlight{% endif %} {{day.format('D j')}}"></th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
