{% extends "base" %}
{% block content %}

    <ul class="breadcrumbs">
        <li><a href="{{url('')}}">Home</a></li>
        <li class="current"><a href="{{url('users')}}">Users</a></li>
    </ul>

    <h1>Users</h1>

    {{users.render()|raw}}
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                {% for role in roles %}
                <th>{{role.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{url('users/'~user.username)}}">{{user.username}}</a></td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    {% for role in roles %}
                    <td>{% if user.hasRole(role.id) %}<span class="fa fa-check"></span>{% endif %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
