{% extends "base" %}
{% block content %}

    <form action="{{url('login')}}" method="post" id="login-form" class="form-horizontal">
        {{csrf_field()}}

        <div class="form-group">
            <label class="col-md-2 control-label" for="username">Username:</label>
            <div class="col-md-4">
                 <div class="input-group">
                    <input type="text" name="username" class="form-control" value="{{username}}"
                           id="username" {% if not username %}class="focus-me"{% endif %} />
                    {% if adldap_enabled and adldap_suffix %}
                    <div class="input-group-addon">
                        {{adldap_suffix}}
                    </div>
                    {% endif %}
                 </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="password">Password:</label>
            <div class="col-md-4">
                <input type="password" name="password" id="password" class="{% if username %}focus-me{% endif %} form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <input type="submit" class="btn btn-primary" value="Log in" />
                <a href="{{url('remind')}}" class="btn btn-default">Password reminder</a>
            </div>
        </div>

    </form>

{% endblock %}
