{% extends "base" %}
{% block content %}

    <form action="{{url('users/'~the_user.username)}}" method="post" class="row">
        <input type="hidden" name="_token" value="{{csrf_token()}}">

        <fieldset><legend>Details</legend>
            <p>
                <label>Username: <input type="text" name="username" value="{{the_user.username}}" /></label>
            </p>
            <p>
                <label>Name: <input type="text" name="name" value="{{the_user.name}}" /></label>
            </p>
            <p>
                <label>Email: <input type="text" name="email" value="{{the_user.email}}" /></label>
            </p>
        </fieldset>

        <fieldset><legend>Password</legend>
            <p>
                <label>Password: <input type="password" name="password" /></label>
            </p>
            <p>
                <label>Confirmation: <input type="password" name="password_confirmation" /></label>
            </p>
        </fieldset>

        <fieldset><legend>Roles</legend>
            <ul class="inline-list">
            {% for role in roles %}
                <li>
                    <label>
                        <input type="checkbox" value="{{role.id}}"
                               name="roles[]" {% if the_user.hasRole(role.id) %}checked{% endif %}
                               {% if not user.isAdmin() %}disabled{% endif %} />
                        {{role.name}}
                    </label>
                </li>
            {% endfor %}
            </ul>
            {% if not user.isAdmin() %}<p><em>Only Administrators can change role allocations.</em></p>{% endif %}
        </fieldset>

        <p>
            <input type="submit" class="button" value="Save" />
        </p>
    </form>

{% endblock %}
