{% extends "base" %}
{% block content %}

    <form action="{{url('users/'~the_user.username)}}" method="post" class="row">
        <input type="hidden" name="_token" value="{{csrf_token()}}">

        <fieldset><legend>Details</legend>
            <p>
                <label>Username: <input type="text" name="username" value="{{the_user.username}}" /></label>
            </p>
            <p>
                <label>Name: <input type="text" name="name" value="{{the_user.name}}" /></label>
            </p>
            <p>
                <label>Email: <input type="text" name="email" value="{{the_user.email}}" /></label>
            </p>
        </fieldset>

        <fieldset><legend>Password</legend>
            <p>
                <label>Password: <input type="password" name="password" /></label>
            </p>
            <p>
                <label>Confirmation: <input type="password" name="password_confirmation" /></label>
            </p>
        </fieldset>

        <fieldset><legend>Roles</legend>
            <ul class="inline-list">
            {% for role in roles %}
                <li>
                    <label>
                        <input type="checkbox" value="{{role.id}}"
                               name="roles[]" {% if the_user.hasRole(role.id) %}checked{% endif %}
                               {% if not user.isAdmin() %}disabled{% endif %} />
                        {{role.name}}
                    </label>
                </li>
            {% endfor %}
            </ul>
            {% if not user.isAdmin() %}<p><em>Only Administrators can change role allocations.</em></p>{% endif %}
        </fieldset>

        <fieldset><legend>Dates of non-availability</legend>
            <p>
                These are the dates that this user is <em>not</em> available.
            </p>
            <table>
                <tr>
                    <td>New:</td>
                    <td><input type="text" class="datepicker" name="dates[0][start_date]" placeholder="Start date" /></td>
                    <td><input type="text" class="datepicker" name="dates[0][end_date]" placeholder="End date" /></td>
                </tr>
                {% for date in user_dates %}
                <tr>
                    <td></td>
                    <td><input type="text" class="datepicker" name="dates[{{date.id}}][start_date]" value="{{date.start_date}}" placeholder="Start date" /></td>
                    <td><input type="text" class="datepicker" name="dates[{{date.id}}][end_date]"  value="{{date.end_date}}" placeholder="End date" /></td>
                </tr>
                {% endfor %}
            </table>
            <p>Either the start date or the end date can be left empty, to indicate on-going non-availability.</p>
        </fieldset>

        <p>
            <input type="submit" class="button" value="Save" />
        </p>
    </form>

{% endblock %}
