{% extends "base" %}

{% block content %}

<ul>
    <li><a href="{{url('assets')}}">{{asset_count|number_format}} Assets</a></li>
    <li><a href="{{url('job-lists')}}">{{job_list_count|number_format}} Job Lists</a></li>
    <li><a href="{{url('users')}}">{{user_count|number_format}} Users</a></li>
    <li><a href="{{url('crews')}}">{{crew_count|number_format}} Crews</a></li>
</ul>

{% endblock %}
