{% extends "base" %}
{% block content %}

<form method="post" action="{{url('work-orders/'~work_order.id~'/edit')}}" class="row">
    <input type="hidden" name="_token" value="{{csrf_token()}}" />

    <p class="columns large-4">
        <label>
            Name (must be unique):
            <input type="text" name="name" value="{{work_order.name}}" />
        </label>
    </p>
    <p class="columns large-4">
        <label>
            Type:
            <select name="work_order_type_id" required>
                <option selected></option>
                {% for type in work_order_types %}
                <option value="{{type.id}}" {% if work_order.type.id == type.id %}selected{% endif %}>
                    {{type.name}}
                </option>
                {% endfor %}
            </select>
        </label>
    </p>
    <p class="columns large-4">
        <label>
            Due date:
            <input type="text" name="due_date" class="datepicker" value="{{work_order.due_date}}" />
        </label>
    </p>
    <p class="columns large-12">
        <input type="submit" name="save" value="Save" class="button" />
        <a class="secondary button" href="{{url('work-orders/'~work_order.id)}}">Cancel</a>
    </p>
</form>

{% endblock %}