{% extends "base" %}
{% block content %}

    <form action="{{url(action)}}" method="post">
        <input type="hidden" name="_token" value="{{csrf_token()}}">
        <p>
            <label>
                Name:
                <input type="text" value="{{crew.name}}" name="name" required="required" />
            </label>
        </p>
        <p>
            <label>
                Members:
                <input type="text" value="{{members}}" name="members" class="tagit" data-url="{{url('users.json')}}" />
            </label>
        </p>
        <fieldset><legend>Dates of unavailability</legend>
            <p>
                These are the dates that this crew is <em>not</em> available;
                individual crew members have their availability defined separately.
            </p>
            <table>
                {% for date in crew_dates %}
                <tr>
                    <td><input type="text" class="datepicker" name="dates[{{date.id}}][start_date]" value="{{date.start_date}}" placeholder="Start date" /></td>
                    <td><input type="text" class="datepicker" name="dates[{{date.id}}][end_date]"  value="{{date.end_date}}" placeholder="End date" /></td>
                </tr>
                {% endfor %}
                <tr>
                    <td><input type="text" class="datepicker" name="dates[0][start_date]" placeholder="Start date" /></td>
                    <td><input type="text" class="datepicker" name="dates[0][end_date]" placeholder="End date" /></td>
                </tr>
            </table>
            <p>Either the start date or the end date can be left empty, to indicate on-going non-availability.</p>
        </fieldset>
        <p>
            <label>Comments: <textarea name="comments" rows="10" class="markdown">{{crew.comments}}</textarea></label>
        </p>
        <p>
            <input type="submit" value="Save" class="button" />
        </p>
    </form>

{% endblock %}
