{% extends "base" %}

{% block subtitle %}
    {% if user.isAdmin() %}
    <small><a href="{{url('crews/create')}}">[New]</a></small>
    {% endif %}
{% endblock %}

{% block content %}

{% for crew in crews %}

    <h2>
        <code>{{crew.id}}</code>
        {% if user.isAdmin() %}
            <a href="{{url('crews/'~crew.id~'/edit')}}">{{crew.name}}</a>
        {% else %}
            {{crew.name}}
        {% endif %}
        <small>
        ({% for member in crew.members %}<!--
            -->{% if loop.length > 1 and loop.last %} and {% elseif not loop.first %}, {% endif %}<!--
            --><a href="{{url('users/'~member.user.username)}}">{{member.user.name}}</a><!--
        -->{% endfor %})
        </small>
    </h2>

    {{crew.comments|parsedown|raw}}

    <div class="row">
        {% for month in months %}
        <div class="col-md-2">
        <table class="calendar">
            <caption>{{month.format('F Y')}}</caption>
            {% for week in month %}
            <tr>
                {% for day in week %}
                    {% if month.contains(day.getBegin()) %}
                    <td class="{{day.format('D')}} {% if not crew.availableOn(day.getBegin()) %}lowlight{% endif %}">
                        {{day.format('j')}}
                    </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </div>
        {% endfor %}
    </div>

    <hr />
{% endfor %}

{% endblock %}
