{% extends "base" %}
{% block content %}

<form method="post" action="{{url('job-lists/save')}}">
    <input type="hidden" name="_token" value="{{csrf_token()}}" />
    <input type="hidden" name="identifier" value="{{identifier}}" />
    <input type="hidden" name="identifiers" value="{{identifiers|join('\n')}}" />
    {% for cat in categoryIds %}
    <input type="hidden" name="category_ids[]" value="{{cat}}" />
    {% endfor %}

    <div class="row">
        <p class="columns large-12">
            You are about to create a Job List for {{assets.count|number_format}} assets.
        </p>
    </div>
   {% include 'job-lists/form' %}
    <div class="row">
        <p class="columns large-12">
            <input type="submit" name="save" value="Yes, create this Job List" class="button" />
            <input type="submit" name="search" value="No, return to Asset search" class="secondary button" data-new-action="{{url('assets')}}" />
        </p>
    </div>
</form>

{% endblock %}