{% extends "base" %}

{% block content %}

    <ol class="inline-list">
        <li><strong>Type:</strong></li>
        {% if selected_type is not null %}
        <li><a href="{{url('job-lists')}}">All</a></li>
        {% endif %}
        {% for type in job_types %}
        <li>
            <a href="{{url('job-lists?type='~type.id)}}">
                {% if type.id != selected_type %}
                {{type.name}}
                {% else %}
                <em>{{type.name}}</em>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ol>

    {% if job_lists.total > 0 %}
    {{ job_lists.render()|raw }}
    <table>
        <thead>
            <tr>
                {% if user.isClerk() %}
                <th></th>
                {% endif %}
                <th>Type</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Asset Count</th>
                <th>Crew</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for job_list in job_lists %}
                <tr>
                    {% if user.isClerk() %}
                    <td>
                        <a href="{{url('job-lists/'~job_list.id~'/edit')}}" title="Edit">[Edit]</a>
                    </td>
                    {% endif %}
                    <td>{{job_list.type.name}}</td>
                    <th>
                        <a href="{{url('job-lists/'~job_list.id)}}" title="View Job List details">{{job_list.name}}</a>
                    </th>
                    <td>{{job_list.start_date}}</td>
                    <td>{{job_list.due_date}}</td>
                    <td>{{job_list.jobs.count|number_format}}</td>
                    <td>{{job_list.crew.name}}</td>
                    <td>{{job_list.status()}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
