{% extends "base" %}

{% block content %}

    <form action="{{url('job-lists/scheduled')}}" method="get">
        <p class="row">
            <span class="large-2 columns">
                <label class="inline right">Start date:</label>
            </span>
            <span class="large-2 columns">
                <input type="text" class="datepicker" name="start_date" value="{{start_date}}" />
            </span>
            <span class="large-2 columns">
                <label class="inline right">End date:</label>
            </span>
            <span class="large-2 columns">
                <input type="text" class="datepicker" name="end_date" value="{{end_date}}" />
            </span>
            <span class="large-4 columns">
                <input type="submit" class="button" value="Search" />
            </span>
        </p>
    </form>

    <table>
        <caption></caption>
        <thead>
            <tr>
                <th></th>
                    {% for date in dates %}
                    <th>{{date.format('D j M')}}</th>
                    {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for crew_name,jls in job_lists %}
            <tr>
                <th>{{crew_name}}</th>
                {% for date in dates %}
                <td>
                    {% set jl = attribute(jls, date.format('Y-m-d')) %}
                    {% if jl %}
                        <a href="{{url('job-lists/'~jl.id)}}">
                            <strong>{{jl.type.name}}:</strong> {{jl.name}}
                        </a>
                        <a  data-tooltip aria-haspopup="true" class="has-tip fa fa-info-circle" title="{{jl.comments}}"></a>
                        <span class="nowrap">(x / {{jl.jobs.count|number_format}})</span>
                        <div class="progress alert">
                            <span class="meter" style="width:{{jl.percentIncomplete()}}%"></span>
                        </div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
