{% extends "base" %}

{% block subtitle %}
    {% if user.isClerk() %}
        <small>
            <a href="{{url('job-lists/'~job_list.id~'/edit')}}" class="fa fa-edit"></a>
        </small>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="full-width row">
        <div class="large-5 columns">
            {{job_list.comments|parsedown|raw}}
            <table>
                <tr><th>Type:</th><td>{{job_list.type.name}}</td></tr>
                <tr><th>Name:</th><td>{{job_list.name}}</td></tr>
                <tr><th>Tags:</th><td>
                        {% for tag in job_list.tags %}
                            <span class="secondary label">{{tag.name}}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Start date:</th><td>{{job_list.start_date}}</td></tr>
                <tr><th>Due date:</th><td>{{job_list.due_date}}</td></tr>
                <tr><th>Asset count:</th><td>{{job_list.jobs.count|number_format}}</td></tr>
            </table>
        </div>
        <div class="large-7 columns">
            <div class="map" id="job-list-map" data-geojson="{{url('job-lists/'~job_list.id~'.geojson')}}"></div>
        </div>
    </div>

    <h2>Jobs ({{jobs.total|number_format}})</h2>
    <table>
        <caption>{{jobs.render()|raw}}</caption>
        <thead>
            <tr>
                <th>Asset</th>
                <th>Tags</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td><a href="{{url('assets/'~job.asset.id)}}">{{job.asset.identifier}}</a></td>
                    <td>
                        {% for tag in job.asset.tags %}
                            <span class="label secondary">{{tag.name}}</span>
                        {% endfor %}
                    </td>
                    <td>{{job.status()}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
