{% extends "base" %}

{% block content %}

    <form method="post" action="{{url('assets/save')}}">
        <input type="hidden" name="_token" value="{{csrf_token()}}">
        {% if asset.id %}<input type="hidden" name="id" value="{{asset.id}}">{% endif %}
        <fieldset><legend>Identity</legend>
            <p>
                Identifier:
                <input type="text" name="identifier" value="{{asset.identifier}}" required />
            </p>
        </fieldset>
        <fieldset><legend>Categories</legend>
        {{include('categorytree', {"categories":categories, "selected":asset.categories})}}
        </fieldset>
        <p>
            <input type="submit" value="Save" class="button" />
        </p>
    </form>

{% endblock %}
