{% extends "base" %}

{% block content %}

    <form method="post" action="{{url('assets/save')}}">
        <input type="hidden" name="_token" value="{{csrf_token()}}">
        {% if asset.id %}<input type="hidden" name="id" value="{{asset.id}}">{% endif %}
        <fieldset><legend>Identity</legend>
            <p>
                <label>Identifier:
                <input type="text" name="identifier" value="{{asset.identifier}}" required />
                </label>
            </p>
            <p>
                <label>Tags:
                <input type="text" name="tags" value="{{asset.tagsAsString()}}" class="tagit" />
                </label>
            </p>
        </fieldset>
        <fieldset>
            <legend>Location</legend>
            <div class="full-width row">
                <div class="large-6 columns">
                    <label>Latitude: <input type="text" name="latitude" value="{{asset.latitude}}" /></label>
                    <label>Longitude: <input type="text" name="longitude" value="{{asset.longitude}}" /></label>
                </div>
                <div class="large-6 columns">
                    <div id="asset-location-map" class="map" data-latitude="{{asset.latitude}}" data-longitude="{{asset.longitude}}"></div>
                </div>
            </div>
        </fieldset>
        <p>
            <label>Comments: <textarea name="comments" rows="10" class="markdown">{{asset.comments}}</textarea></label>
        </p>
        <p>
            <input type="submit" value="Save" class="button" />
            <a href="{%if asset.id %}{{url('/assets/'~asset.id)}}{%else%}{{url('assets')}}{%endif%}" class="secondary button">
                Cancel
            </a>
        </p>
    </form>

{% endblock %}
