{% extends "base" %}

{% block content %}

    <form action="{{url('assets')}}" method="post" class="form">
        <input type="hidden" name="_token" value="{{csrf_token()}}" />
        <fieldset class="row">
            <legend>{{trans('app.search')}}</legend>
            <div class="col-lg-3">
                <label>Identifier contains: <input type="text" name="identifier" value="{{identifier}}" class="form-control" /></label>
                <label>
                    Identifier is one of (one per line):
                    <textarea name="identifiers" rows="8" class="form-control">{{identifiers|join('\n')}}</textarea>
                </label>
            </div>
            <div class="col-lg-6">
                <label>
                    Tagged:
                    <input type="text" name="tagged" class="tagit form-control" value="{{tagged}}" />
                </label>
                <label>
                    <em>Not</em> tagged:
                    <input disabled type="text" name="not_tagged" class="tagit form-control" value="{{not_tagged}}" />
                </label>
            </div>
            <div class="col-lg-3">
                <input type="submit" name="search" value="{{trans('app.search')}}" class="btn btn-info" /><br />
                <a href="{{url('assets')}}" class="btn btn-default">Reset</a>
            </p>
        </fieldset>

        {% if assets.total > 0 %}
        <fieldset>
            <legend>{{assets.total|number_format}} Result{% if assets.total != 1 %}s{% endif %}</legend>
            <input type="submit" class="small button" data-new-action="{{url('assets/map')}}" value="View on map" />
            <input type="submit" class="small button" data-new-action="{{url('assets/csv')}}" value="Get CSV" />
            <input type="submit" class="small button" data-new-action="{{url('job-lists/create')}}" value="Create Job List" />
        </fieldset>
        {% endif %}

    </form>

    {% if assets.total > 0 %}
    {{ assets.render()|raw }}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Identifier</th>
                <th>Status</th>
                <th>Location description</th>
                <th>Street address</th>
                <th>Suburb</th>
                <th>State</th>
                <th>Tags</th>
                <th>Contacts</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
                <tr>
                    <td>
                        {% if user.isClerk() %}
                        <a href="{{url('assets/'~asset.id~'/edit')}}">Edit</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{url('assets/'~asset.id)}}" title="View asset details">{{asset.identifier}}</a>
                    </td>
                    <td>{{asset.status()}}</td>
                    <td>{{asset.location_description}}</td>
                    <td>{{asset.street_address}}</td>
                    <td>{{asset.suburb.name}}</td>
                    <td>{{asset.state.name}}</td>
                    <td>
                        {% for tag in asset.tags %}
                        <span class="label label-primary">{{tag.name}}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% if asset.contacts.count > 0 %}
                        {{asset.contacts.count}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
