{% extends "base" %}

{% block content %}

    <form action="{{url('assets')}}" method="post">
        <input type="hidden" name="_token" value="{{csrf_token()}}" />
        <fieldset class="row full-width">
            <legend>{{trans('app.search')}}</legend>
            <div class="large-3 columns">
                <label>Identifier contains: <input type="text" name="identifier" value="{{identifier}}" /></label>
                <label>
                    Identifier is one of (one per line):
                    <textarea name="identifiers" rows="8">{{identifiers|join('\n')}}</textarea>
                </label>
            </div>
            <div class="large-6 columns">
                <label>Tagged: <input type="text" name="tagged" class="tagit" value="{{tagged}}" /></label>
                <label><em>Not</em> tagged: <input disabled type="text" name="not_tagged" class="tagit" value="{{not_tagged}}" /></label>
            </div>
            <div class="large-2 columns"></div>
            <div class="large-1 columns">
                <input type="submit" name="search" value="{{trans('app.search')}}" class="button" /><br />
                <a href="{{url('assets')}}" class="button secondary">Reset</a>
            </p>
        </fieldset>

        {% if assets.total > 0 %}
        <fieldset>
            <legend>{{assets.total|number_format}} Result{% if assets.total != 1 %}s{% endif %}</legend>
            <input type="submit" class="small button" data-new-action="{{url('assets/map')}}" value="View on map" />
            <input type="submit" class="small button" data-new-action="{{url('assets/csv')}}" value="Get CSV" />
            <input type="submit" class="small button" data-new-action="{{url('job-lists/create')}}" value="Create Job List" />
        </fieldset>
        {% endif %}

    </form>

    {% if assets.total > 0 %}
    {{ assets.render()|raw }}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Identifier</th>
                <th>Tags</th>
                <th>Contacts</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
                <tr>
                    <td>
                        {% if user.isClerk() %}
                        <a href="{{url('assets/'~asset.id~'/edit')}}">Edit</a>
                        {% endif %}
                    </td>
                    <th>
                        <a href="{{url('assets/'~asset.id)}}" title="View asset details">{{asset.identifier}}</a>
                    </th>
                    <td>
                        {% for tag in asset.tags %}
                        <span class="label secondary">{{tag.name}}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% if asset.contacts.count > 0 %}
                        {{asset.contacts.count}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
