{% extends "base" %}

{% block subtitle %}
    {% if user.isClerk() %}
        <small><a href="{{url('assets/'~asset.id~'/edit')}}">[Edit]</a></small>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            {% if asset.comments %}
            <div class="panel">
                {{asset.comments|parsedown|raw}}
            </div>
            {% endif %}
            <dl>
                <dt>Suburb:</dt>
                <dd>{{asset.suburb.name}}, {{asset.state.name}} {{asset.state.country.abbreviation}}</dd>
                <dt>Street address:</dt>
                <dd>{{asset.street_address}}</dd>
                <dt>Location description:</dt>
                <dd>{{asset.location_description}}</dd>
                <dt>Tags:</dt>
                <dd>
                    {% for tag in asset.tags %}
                    <span class="label label-primary">{{tag.name}}</span>
                    {% endfor %}
                </dd>
            </dl>
        </div>
        <div class="col-lg-6">
            <div id="asset-location-map" class="map" data-latitude="{{asset.latitude}}" data-longitude="{{asset.longitude}}"></div>
        </div>
    </div>

    <h2>Job Lists</h2>
    <p><a href="{{url('job-lists')}}">Job Lists</a> that contain this Asset.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Job List</th>
                <th>Type</th>
                <th>Start date</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for job in asset.jobs %}
            <tr>
                <td><a href="{{url('job-lists/'~job.jobList.id)}}">{{job.jobList.name}}</a></td>
                <td>{{job.jobList.type.name}}</td>
                <td>{{job.jobList.start_date}}</td>
                <td>{{job.jobList.status()}}</td>
            </tr>
        {% endfor %}
    </table>

    <div id="contacts" class="">
        <h2>Contacts</h2>
        <div class="row">
            <div class="col-lg-6">
                <ul>
                {% for contact in asset.contacts %}
                    <li>
                        <a href="{{url('contacts/'~contact.id)}}">{{contact.name}}</a>
                        {{contact.phone_1}}
                        {% if contact.phone_2 %}or {{contact.phone_2}}{% endif %}
                        <ol>
                        {% for attempt in asset %}
                            <li>
                            {{attempt.date_and_time}} by {{attempt.user.name}}:
                            Contact made ({{attempt.comments}})
                            </li>
                        {% endfor %}
                        </ol>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="col-lg-6">
                <form action="{{url('contacts/create-for-asset')}}" method="post">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone numbers</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        {% if user.isClerk() %}
                        <tfoot>
                            <tr>
                                <td>
                                    <input type="text" name="name" required />
                                </td>
                                <td>
                                    <input type="text" name="phone_1" required />
                                    <input type="text" name="phone_2" />
                                </td>
                                <td>
                                    <input type="hidden" name="_token" value="{{csrf_token()}}">
                                    <input type="hidden" name="asset_id" value="{{asset.id}}" />
                                    <input type="submit" value="Create" class="button" />
                                </td>
                            </tr>
                        </tfoot>
                        {% endif %}
                    </table>
                </form>
            </div>
        </div>
    </div><!-- #contacts -->

{% endblock %}
