{% extends "base" %}

{% block content %}

    {% if user.isClerk() %}
    <p><a href="{{url('assets/'~asset.id~'/edit')}}" class="small button">Edit</a></p>
    {% endif %}

    {{asset.comments|parsedown|raw}}

    <p>Tags:
        {% for tag in asset.tags %}
        <span class="secondary label">{{tag.name}}</span>
        {% endfor %}
    </p>

    <table>
        <caption><a href="{{url('job-lists')}}">Job Lists</a> that contain this Asset.</caption>
        <thead>
            <tr>
                <th>Job List</th>
                <th>Type</th>
                <th>Start date</th>
            </tr>
        </thead>
        {% for job in asset.jobs %}
            <tr>
                <td><a href="{{job.jobList.id}}">{{job.jobList.name}}</a></td>
                <td>{{job.jobList.type.name}}</td>
                <td>{{job.jobList.start_date}}</td>
            </tr>
        {% endfor %}
    </table>

    <p>Categories:
        {% for cat in asset.categories %}
        <span class="label">{{cat.name}}</span>
        {% endfor %}
        {% if asset.categories.count == 0 %}
        <em>None.</em>
        {% endif %}
    </p>

    <div class="row">
        <form action="{{url('contacts/create-for-asset')}}" method="post">
            <table>
                <caption>Contacts</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in asset.contacts %}
                    <tr>
                        <td>{{contact.name}}</td>
                        <td>
                            {{contact.phone_1}}
                            {% if contact.phone_2 %}or {{contact.phone_2}}{% endif %}
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if user.isClerk() %}
                <tfoot>
                    <tr>
                        <td>
                            <input type="text" name="name" required />
                        </td>
                        <td>
                            <input type="text" name="phone_1" required />
                            <input type="text" name="phone_2" />
                        </td>
                        <td>
                            <input type="hidden" name="_token" value="{{csrf_token()}}">
                            <input type="hidden" name="asset_id" value="{{asset.id}}" />
                            <input type="submit" value="Create" class="button" />
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </form>
    </div>

{% endblock %}
